@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/Mulish-Regular.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url('../webfonts/Mulish-Medium.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../webfonts/Mulish-SemiBold.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../webfonts/Mulish-Bold.ttf');
}