.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.order-panel-box {
  width: 270px;
  height: 50px;
  box-sizing: border-box;
  border: solid 1px #AAAA;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(100, 100, 100, 0.2);
  /* border-radius: 8px; */
  border: 1px #555A;
  position: relative;
  z-index: 99999;
  /* transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  will-change: transform;
}

.order-panel-box-collapse {
  overflow: hidden;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: solid 1px #AAAA;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(100, 100, 100, 0.2);
  /* border-radius: 8px; */
  border: 1px #555A;
  border-radius: 25px;
  position: relative;
  z-index: 99999;
  /* transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  will-change: transform;

}

.order-panel-box-collapse .order-panel-main {
  display: none;
}

.order-panel-main {
  margin-left: 30px;
}

.order-panel-box.dragging {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.order-panel-handle {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #333;
  cursor: move;
  width: 30px;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
}

.btn-buy {
  background-color: #09421d !important;
  opacity: 0.9;
  padding: 0px 10px 0px 10px !important;
  font-size: 14px !important;
  height: 50px;
  border-radius: 0px !important; 
  color: #f5f5f5 !important;
}

.btn-sell {
  background-color: #42090c !important;
  opacity: 0.9;
  padding: 0px 10px 0px 10px !important;
  font-size: 14px !important;
  height: 50px;
  border-radius: 0px !important; 
  color: #f5f5f5 !important;

}


#buy-btn:hover {
  color: #a5a5a5 !important;
}

#sell-btn:hover {
  color: #a5a5a5 !important;
}

.sub {
  font-size: 16px;
  vertical-align: baseline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}